stages:
  - test
  - build
  - deploy

before_script:
  - source ~/.nvm/nvm.sh || echo OK
  - export NPM_CONFIG_LOGLEVEL=error
  - npm cache clean
  - npm config set proxy http://192.168.1.100:19465
  - npm config set https-proxy http://192.168.1.100:19465
  - npm config set strict-ssl false
  - rm -rf node_modules dist tmp
  - npm install -s

complexity:
  stage: test
  script:
    - npm run complexity
  tags:
    - local

mocha:
  stage: test
  script:
    - npm run test
  tags:
    - local

jscs:
  stage: test
  script:
    - npm run jscs
  tags:
    - local
  allow-failure: true

build-dev:
  stage: build
  script:
    - docker build -t "social_graph:test" .
  except:
    - master
  tags:
    - local

deploy-dev:
  stage: deploy
  script:
    - docker tag -f "social_graph:test" erezny/social_graph:test
    - docker push erezny/social_graph:test
  except:
    - master
  tags:
    - local

build-prod:
  stage: build
  script:
    - docker build -t "social_graph:latest" .
  only:
    - master
  tags:
    - local

deploy-prod:
  stage: deploy
  script:
    - docker tag -f "social_graph:latest" erezny/social_graph:latest
    - docker push erezny/social_graph:latest
  only:
    - master
  tags:
    - local
