
stages:
  - test
  - build
  - deploy

complexity:
  stage: test
  script:
    - source ~/.nvm/nvm.sh || echo OK
    - export NPM_CONFIG_LOGLEVEL=error
    - npm cache clean
    - npm config set proxy http://192.168.1.100:19465
    - npm config set https-proxy http://192.168.1.100:19465
    - npm config set strict-ssl false
    - rm -rf node_modules dist tmp
    - npm install -s
    - npm run complexity
  tags:
    - local

test-dev:
  stage: test
  script:
    - source ~/.nvm/nvm.sh || echo OK
    - export NPM_CONFIG_LOGLEVEL=warn
    - npm cache clean
    - npm config set proxy http://192.168.1.100:19465
    - npm config set https-proxy http://192.168.1.100:19465
    - npm config set strict-ssl false
    - rm -rf node_modules dist tmp
    - npm install
    - npm test || echo OK
  except:
    - master
  tags:
    - local

build-dev:
  stage: build
  script:
    - source ~/.nvm/nvm.sh || echo OK
    - export NPM_CONFIG_LOGLEVEL=warn
    - npm cache clean
    - npm config set proxy http://192.168.1.100:19465
    - npm config set https-proxy http://192.168.1.100:19465
    - npm config set strict-ssl false
    - rm -rf node_modules dist tmp
    - npm install
    - docker build -t "twitter-import:test" .
  except:
    - master
  tags:
    - local

deploy-dev:
  stage: deploy
  script:
    - docker tag -f "twitter-import:test" tutum.co/erezny/twitter-import:test
    - docker push tutum.co/erezny/twitter-import:test
  except:
    - master
  tags:
    - local

test-prod:
  stage: test
  script:
    - source ~/.nvm/nvm.sh || echo OK
    - npm cache clean
    - export NPM_CONFIG_LOGLEVEL=warn
    - npm config set proxy http://192.168.1.100:19465
    - npm config set https-proxy http://192.168.1.100:19465
    - npm config set strict-ssl false
    - rm -rf node_modules dist tmp
    - npm install
    - npm test || echo OK
  only:
    - master
  tags:
    - local

build-prod:
  stage: build
  script:
    - source ~/.nvm/nvm.sh || echo OK
    - export NPM_CONFIG_LOGLEVEL=warn
    - npm cache clean
    - npm config set proxy http://192.168.1.100:19465
    - npm config set https-proxy http://192.168.1.100:19465
    - npm config set strict-ssl false
    - rm -rf node_modules dist tmp
    - npm install --production
    - docker build -t "twitter-import:latest" .
  only:
    - master
  tags:
    - local

deploy-prod:
  stage: deploy
  script:
    - docker tag -f "twitter-import:latest" tutum.co/erezny/twitter-import:latest
    - docker push tutum.co/erezny/twitter-import:latest
  only:
    - master
  tags:
    - local
